.jumbotron {
	overflow: hidden;
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(to top, #0667f0 0%, #399aff 100%);
}

.jumbotron-inner {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 50%;
	height: auto;
	transform: translate(-50%, -50%);
}

.jumbotron-title {
	font-size: 10vw;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
	margin: 0 0 16px 0;
	pointer-events: none;
	text-shadow: rgba(0, 0, 0, .4) 1px 1px 1px;
}

.jumbotron-subtitle {
	background: #ffffff;
	display: table;
	text-align: center;
	color: #0667d0;
	padding: 0.45em 0.5em;
	border: none;
	margin: auto;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
}

.jumbotron-text {
	margin: 24px auto 8px;
	width: 60%;
	color: #ffffff;
	text-align: center;
	font-size: 1em;
	line-height: 26px;
	letter-spacing: 3px;
	text-shadow: rgba(0, 0, 0, .4) 1px 1px 1px;
}