/* START COMMON */

.app {
    font-family: 'Ubuntu', sans-serif;
}

.white-division {
    background-color: #FFFFFF;
    text-align: center;
}

.blue-division {
    background-color: #0665D0;
    text-align: center;
}

.dashed-division {
    background-repeat: repeat;
    background-size: 150px 150px;
    background-image: url("./img/light_wool.png");
    text-align: center;
}

.centered-division {
    width: 960px;
    margin: auto;
    padding: 40px 0;
    display: block;
}

.container {
    width: 96%;
    max-width: initial;
}

.row {
    margin: 48px auto;
}

.title {
    display: table;
    margin: auto;
    font-size: 1.6em;
    line-height: 1;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

.title-2 {
    position: relative;
    display: table;
    font-size: 1.2em;
    line-height: 1.4;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}

.description {
    color: #A7A7A7;
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;
}

.description-left {
    text-align: left;
}

.description-center {
    text-align: center;
}

.on-dark {
    color: #FFFFFF;
}

.on-dark-icon {
    border-radius: 10px;
    background-color: #FFFFFF;
}

.on-light {
    color: #595959;
}

.icon {
    padding: 24px;
    width: 100px;
}

.line-separated:after {
    margin: 24px auto;
    content: ' ';
    display: block;
    width: 120px;
    border: 0.5px solid #C0C0C0;
}

/* END COMMON */

.overview {
    position: relative;
}

.modules {
    position: relative;
}

.modules .module-icon {
    padding: 16px;
    width: 64px;
}

.timeline .line-division {
    position: relative;
}

.timeline .line-division-after {
    position: relative;
}

.timeline .line-division-after::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: ' ';
    width: 50%;
    height: 200%;
    border-right: solid #0665D0 2px;
}

.timeline .line-division::after {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    content: ' ';
    width: 50px;
    height: 60px;
    border-radius: 3px;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
}

.timeline .line-event {
    position: relative;
    z-index: 200;
}

.timeline .line-event .icon {
    width: 36px;
}

.help .form{
    border-radius: 3px;
    margin: 36px auto 0 auto;
    padding: 6px;
    background-color: #ffffff;
    border: solid 1px #f4f4f4;
    width: 90%;
}

.help .form input{
    padding: 0 8px;
    margin-right: 8px;
    border: none;
    outline: 0;
    background-color: transparent;
    display: inline-block;
    height: 32px;
    width: 60%;
}

.help .form .button{
    width: 33%;
    float: right;
    margin: 0;
}

.footer .centered-division {
    padding: 16px 0;
}